
<!doctype HTML>
<html>
  <head>
    <title>Girl Power Song Dispenser</title>
  </head>
  <body> 
 <h1>Get Ready For Your New Anthem!</h1>
  <form method = "POST">
    <h2>CHOOSE A GENRE:</h2>
    <br>
    <input type="radio" name="user_genre" value="rock">Rock<br>
     <input type="radio" name="user_genre" value="soul">Soul<br>
    <input type="radio" name="user_genre" value="punk">Punk<br>
    <input type="radio" name="user_genre" value="rnb">RnB<br>
    <h2>CHOOSE AN TOPIC</h2>
    <br>
    <input type="radio" name="user_issue" value="empowerment">Empowerment<br>
    <input type="radio" name="user_issue" value="activism">Activism<br>
    <input type="radio" name="user_issue" value="selflove">Self Love<br>
     <input type="radio" name="user_issue" value="girlboss">Girl Boss<br>
    
    <input type="submit" value= "submit">
   </form>
  </body>
</html>